**/build/*
**/install/*
**/log/*
/src/ros_tutorials/*
_LS1_1*
burma14_*
.vscode/*
src/ros_tutorials
*__pycache__*
*/release/*
SP_Metric_Opt/TaskData/periodic-set-*
SP_Metric_Opt/TaskData/*/periodic-set-*
SP_Metric_Opt/TaskData/dagTasks/*
SP_Metric_Opt/TaskData/*/dag-set*
# SP_Metric_Opt/TaskData/
*.vscode*
*.idea*
*/Visualize_SP_Metric/data/temp/*.txt
all_time_records/AppTest*
SP_Metric_Opt/Visualize_SP_Metric/*.bin
SP_Metric_Opt/TaskData/pa_res_test_robotics_v1.yaml
all_time_records/*.txt
SP_Metric_Opt/TaskData/*pa_res_test*.yaml
all_time_records/*.pdf
SP_Metric_Opt/TaskData/pa_result.yaml
SP_Metric_Opt/applications/real_time_manager/configs/local_cpu_and_priority.yaml
Experiments/MultiRun/*
SP_Metric_Opt/applications/tsp_solver_osm/experiments/*_command_history.csv
SP_Metric_Opt/applications/tsp_solver_osm/experiments/*_command_history.csv
SP_Metric_Opt/TaskData/pa_res_*
