# Python caching
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Taskset generation example & test outputs
Gen_Taskset/examples/output_example/*
Gen_Taskset/tests/test_output/

# CMake / C++ build outputs
build/
release/
bin/
lib/
obj/

# Simulation Experiment Outputs & Configs
!TaskData/AnalyzeSP_Metric/*
TaskData/*/
TaskData/*.txt
TaskData/*.json
temp_experiment_configs/
temp/

# Binary / Output / Log formats
*.log
*.pdf
*.png
*.csv
